name: octocov
on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read
  pull-requests: write
  checks: write

jobs:
  octocov:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6

      - name: setup
        uses: actions/setup-go@v6
        with:
          go-version: 1.26.0

      - name: install dependencies
        run: go get -v -t -d ./...

      - name: lint
        run: go vet ./...

      - name: test
        run: go test -v -cover -race -covermode=atomic -coverprofile=coverage.out ./...

      # See also: https://github.com/k1LoW/octocov-action
      - name: Report coverage with octocov
        uses: k1LoW/octocov-action@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          config: .octocov.yml
