# https://github.com/goreleaser/goreleaser-action
name: release

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"
  create:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6

      - name: setup
        uses: actions/setup-go@v6

      - name: release
        if: startsWith(github.event.ref, 'refs/tags')
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
